{
  "plugins": ["ts-ban-snippets"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "ts-ban-snippets/ts-ban-snippets": [
            "error",
            {
                "banned": [
                    {
                    "snippets": ["return void reject", "return void resolve"],
                    "message":
                        "Please do not return void - instead place the return statement on the following line."
                    }
                ]
            }
        ]
    }
}